body {
    margin: 0;
    /*font-family: 'Sriracha', cursive;*/
    font-family: 'Architects Daughter', cursive;
    font-size: 17px;
    line-height: 24px;
}

button {
    position: fixed;
    right: 2rem;
    background-color: #03abbc;
    border: solid 1px black;
    border-radius: 16px;
    z-index: 2;
    background-position: 50% 50%;
    background-size: 24px;
    padding: 4px;
    box-sizing: border-box;
    height: 32px;
    min-width: 32px;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#dashed-switch-button {
    top: 5rem;
    padding: 4px 8px;
    text-decoration: line-through;
}

#dashed-switch-button.active {
    text-decoration: none;
}

#download-button {
    top: 2rem;
    right: 5rem;
    background-image: url("./get_app-24px.svg");
}

#import-button {
    top: 2rem;
    background-image: url("./publish-24px.svg");
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: #dddedb;
}

#svg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#svg-layer > polyline {
    stroke: black;
    stroke-width: 5;
    fill: none;
}

#svg-layer > polyline.selected {
    stroke: #03abbc;
}

#svg-layer > polyline.dashed {
    stroke-dasharray: 10, 10;
}

#svg-layer > polyline:hover {
    stroke-width: 5;
    fill: none;
    cursor: pointer;
}

.text-box {
    position: absolute;
    z-index: 2;
    font-size: 20px;
    line-height: 20px;
    padding: 0.25rem;
    border: dashed transparent 2px;
    letter-spacing: 2px;
}

.text-box:hover, .text-box:active {
    cursor: pointer;
}

.text-box:focus {
    border: dashed #03abbc 2px;
    border-radius: 0.25rem;
    outline: none;
}


